@import 'variables.scss';

.about {
}

.about h2 {
  font-family: 'Raleway', sans-serif;
  //font-size: 24px;
}

.about p {
  text-indent: 0.3em;
  font-family: 'Proxima Nova', sans-serif;
  //font-size: 18px;
}
