@import url('https://s3-us-west-1.amazonaws.com/public-webfonts/fonts/fonts-proxima-nova.css');
@import url('https://fonts.googleapis.com/css?family=Raleway:400,500,600,700,800,900');
@import url('https://s3-us-west-1.amazonaws.com/public-webfonts/fonts/fonts-akrobat.css');

@mixin for-mobile-only {
  @media (max-width: 599px) { @content; }
}
@mixin for-tablet-portrait-up {
  @media (min-width: 600px) { @content; }
}
@mixin for-tablet-landscape-up {
  @media (min-width: 900px) { @content; }
}
@mixin for-desktop-up {
  @media (min-width: 1200px) { @content; }
}
@mixin for-big-desktop-up {
  @media (min-width: 1800px) { @content; }
}

html {
  font-size: 16px;
}
@include for-tablet-portrait-up {
  html {
    font-size: calc(16px + 6 * ((100vw - 320px) / 680));
  }
}
@include for-desktop-up {
  html {
    font-size: 20px;
  }
}

.app h1 {
  //font-size: 26px;
  color: #2f2f2f;
  font-family: 'Raleway', sans-serif;
}

.app h2 {
  //font-size: 20px;
  color: #2f2f2f;
  font-family: 'Raleway', sans-serif;
}

.app p {
  //font-size: 18px;
  color: #2f2f2f;
  font-family: 'Proxima Nova', sans-serif;
}

.app li a {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 500;
}

@include for-tablet-portrait-up {
  .app section {
    padding-left: 3em !important;
    padding-right: 3em !important;
  }
  .home .content .name h1 {
    //font-size: 62px;
  }
  .home .content h2 {
    //font-size: 24px;
  }
  .app h1 {
    margin-top: 0;
    //font-size: 26px;
  }
  .app h2 {
    margin-top: 0;
    //font-size: 20px;
  }
  .app p {
    margin-top: 0;
    //font-size: 18px;
  }
}

@include for-tablet-landscape-up {
  .app section {
    padding-left: 7em !important;
    padding-right: 7em !important;
  }
}

@include for-desktop-up {
  .app section {
    padding-left: 10em !important;
    padding-right: 10em !important;
  }
}
@include for-big-desktop-up {
  .app section {
    padding-left: 15em !important;
    padding-right: 15em !important;
  }
}

// section intersection styling
.app .skills {
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 1);
}

.app .portfolio {
  box-shadow: inset 1px 2px 4px 0 rgba(0, 0, 0, .1);
}

.app .about {
  box-shadow: inset 1px 2px 4px 0 rgba(0, 0, 0, .1);
}

.app .carousel {
  box-shadow: inset 1px 2px 4px 0 rgba(0, 0, 0, .1);
}