@import url("https://s3-us-west-1.amazonaws.com/public-webfonts/fonts/fonts-akrobat.css");
@import url("https://s3-us-west-1.amazonaws.com/public-webfonts/fonts/fonts-proxima-nova.css");
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,800,900");
/* $rembase = 10px */
html {
  font-size: 62.5%;
  color: #2f2f2f;
  font-family: 'Proxima Nova', sans-serif; }
  @media (min-width: 600px) {
    html {
      font-size: 70%; } }
  @media (min-width: 900px) {
    html {
      font-size: 78.5%; } }
  @media (min-width: 1200px) {
    html {
      font-size: 85%; } }

body,
p {
  font: 1.4rem 'Proxima Nova', sans-serif;
  margin-top: 0; }

h1 {
  font: 800 4em 'Raleway', sans-serif;
  margin-top: 0; }

h2 {
  font: 700 2.8rem 'Raleway', sans-serif;
  margin-top: 0; }

h3 {
  font: 700 1.8rem 'Raleway', sans-serif;
  margin-top: 0; }

.app section {
  padding: 4rem 3rem 3rem; }

.app section.home {
  padding-top: 6rem;
  padding-bottom: 0;
  box-shadow: inset 0 -10px 20px -10px black; }

@media (min-width: 900px) {
  .app section {
    padding-left: 7rem;
    padding-right: 7rem; } }

@media (min-width: 1200px) {
  .app section {
    padding-left: 10rem;
    padding-right: 10rem; } }

@media (min-width: 1500px) {
  .app section {
    padding-left: 12em;
    padding-right: 12em; } }

.home {
  height: 550px; }
  .home .content {
    color: #fafafa;
    display: flex;
    flex-direction: column; }

.portfolio {
  background: linear-gradient(339deg, rgba(255, 255, 255, 0.95) 20%, rgba(255, 255, 255, 0.99) 45%); }

.carousel {
  background: linear-gradient(384deg, rgba(255, 255, 255, 0.95) 20%, rgba(255, 255, 255, 0.99) 45%); }

.skills {
  background: linear-gradient(339deg, rgba(255, 255, 255, 0.95) 20%, rgba(255, 255, 255, 0.99) 45%); }

.certs {
  background: linear-gradient(384deg, rgba(255, 255, 255, 0.95) 20%, rgba(255, 255, 255, 0.99) 45%); }

.about {
  background: linear-gradient(-180deg, white, white 100%); }

.contact {
  background: linear-gradient(180deg, white, rgba(255, 255, 255, 0.5) 75%), linear-gradient(155deg, #fafaff 10%, rgba(255, 255, 255, 0.5) 40%, rgba(255, 255, 255, 0.1) 100%); }

.footer {
  background: linear-gradient(147deg, rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.75));
  background: initial;
  top: 74vh;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: -1; }
