@import url("https://s3-us-west-1.amazonaws.com/public-webfonts/fonts/fonts-proxima-nova.css");
@import url("https://fonts.googleapis.com/css?family=Raleway:400,500,600,700,800,900");
@import url("https://s3-us-west-1.amazonaws.com/public-webfonts/fonts/fonts-akrobat.css");
html {
  font-size: 16px; }

@media (min-width: 600px) {
  html {
    font-size: calc(16px + 6 * ((100vw - 320px) / 680)); } }

@media (min-width: 1200px) {
  html {
    font-size: 20px; } }

.app h1 {
  font-family: 'Raleway', sans-serif;
  color: #2f2f2f; }

.app h2 {
  font-family: 'Raleway', sans-serif;
  color: #2f2f2f; }

.app p {
  font-family: 'Proxima Nova', sans-serif;
  color: #2f2f2f; }

.app li a {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 500; }

@media (min-width: 600px) {
  .app section {
    padding-right: 3em !important;
    padding-left: 3em !important; } }

@media (min-width: 900px) {
  .app section {
    padding-right: 7em !important;
    padding-left: 7em !important; } }

@media (min-width: 1200px) {
  .app section {
    padding-right: 10em !important;
    padding-left: 10em !important; } }

@media (min-width: 1800px) {
  .app section {
    padding-right: 15em !important;
    padding-left: 15em !important; } }
