@import 'variables.scss';

/* $rembase = 10px */
html {
  font-size: 62.5%; // 1rem ≈ 10px
  color: $notblack;
  font-family: 'Proxima Nova', sans-serif;

  @include for-tablet-portrait-up {
    font-size: 70%;
  }

  @include for-tablet-landscape-up {
    font-size: 78.5%;
  }

  @include for-desktop-up {
    font-size: 85%;
  }
}

body,
p {
  // 14 ÷ $rembase ≈ 14px
  font: 1.4rem 'Proxima Nova', sans-serif;
  margin-top: 0;
}

h1 {
  // 26 ÷ $rembase ≈ 26px
  font: 800 4em 'Raleway', sans-serif;
  margin-top: 0;
}

h2 {
  // 24 ÷ $rembase ≈ 24px
  font: 700 2.8rem 'Raleway', sans-serif;
  margin-top: 0;
}

h3 {
  // 18 ÷ $rembase ≈ 18px
  font: 700 1.8rem 'Raleway', sans-serif;
  margin-top: 0;
}

// buffer h2 margin between sections, add side margins
.app section {
  padding: 4rem 3rem 3rem;
}

// buffer navbar
.app section.home {
  padding-top: 6rem;
  padding-bottom: 0;
  box-shadow: inset 0 -10px 20px -10px black;
}

@include for-tablet-landscape-up {
  .app section {
    padding-left: 7rem;
    padding-right: 7rem;
  }
}

@include for-desktop-up {
  .app section {
    padding-left: 10rem;
    padding-right: 10rem;
  }
}

@include for-big-desktop-up {
  .app section {
    padding-left: 12em;
    padding-right: 12em;
  }
}

// section specific padding and coloring
.home {
  height: 550px;

  .content {
    color: $notwhite;
    display: flex;
    flex-direction: column;
  }
}

.portfolio {
  background: $transparentBottomRight;
}

.carousel {
  background: $transparentBottomLeft;
}

.skills {
  background: $transparentBottomRight;
}

.certs {
  background: $transparentBottomLeft;
}

.about {
  background: linear-gradient(
    -180deg,
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 1) 100%
  );
}

.contact {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0.5) 75%
  ),
    linear-gradient(
    155deg,
    rgba(250, 250, 255, 1) 10%,
    rgba(255, 255, 255, 0.5) 40%,
    rgba(255, 255, 255, 0.1) 100%
  );
}

.footer {
  background: linear-gradient(
    147deg,
    rgba(255, 255, 255, 0.75),
    rgba(255, 255, 255, 0.75)
  );
  background: initial;
  top: 74vh;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: -1;
}
