@import '~slick-carousel/slick/slick.css';
@import '~slick-carousel/slick/slick-theme.css';
@import 'variables.scss';

// flexbox compatability with react-slick
* {
  min-height: 0;
  min-width: 0;
}

.carousel {
  height: 100%;

  // slides
  .innerSliderDiv {
    position: static;
    margin-left: auto;
    margin-right: auto;
    max-height: 100%;
    max-width: 100%;

    @include for-tablet-portrait-up {
      max-height: 66%;
    }

    @include for-tablet-landscape-up {
      max-height: 50%;
    }

    .slick-list {
      background-color: $truewhite;
      box-shadow: $card-shadow;
      margin-bottom: 1rem;
    }

    .slick-slide {
      height: inherit;
    }

    .slick-slide img {
      //max-height: 300px;
      //max-width: 300px;
      max-height: 100%;
      max-width: 100%;

      @include for-tablet-portrait-up {
        max-width: 66%;
      }

      @include for-tablet-landscape-up {
        max-width: 50%;
      }

      @include for-desktop-up {
        max-width: 33%;
      }
    }

    .slick-slide.slick-center img {
      margin-left: auto;
      margin-right: auto;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
    }

    .slick-track {
      align-items: stretch;
      align-content: stretch;
      display: flex;
    }

    .slick-track .slick-slide.slick-active {
      transition: $opacity-25-easein-filter-50-easeout;
      flex-grow: 1;
      flex-shrink: 1;
      flex-basis: auto;
    }

    .slick-track .slick-slide:not(.slick-active) {
      filter: grayscale(100%);
      transition: $opacity-25-easein-filter-50-easeout;
    }
  }

  // custom slide pagination
  .slick-dots {
    &.slick-thumb {
      height: 100%;
      bottom: 100%;
      position: static;
      align-items: stretch;
      display: flex !important;
      flex-direction: row;
      //flex-wrap: wrap;
      width: 100%;

      li {
        align-items: center;
        background-color: #fafafa;
        box-shadow: $card-shadow;
        display: flex;
        height: auto !important;
        margin: 0 0 !important;
        margin-right: 10px !important;
        padding: 5px 5px;
        width: 100% !important;

        &:nth-of-type(7) {
          margin-right: 0 !important;
        }

        img {
          align-self: center;
          height: auto;
          vertical-align: middle;
          width: 100%;
        }
      }

      li::before {
        background-color: #2d4269;
        bottom: 0;
        content: '';
        height: 6%;
        left: 0;
        position: absolute;
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        transform-origin: right;
        -webkit-transition: all 0.25s linear 0s;
        transition: all 0.25s linear 0s;
        visibility: hidden;
        width: 100%;
        z-index: 2;
      }

      li.slick-active::before {
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
        transform-origin: left;
        -webkit-transition: all 0.25s linear 0s;
        transition: all 0.25s linear 0s;
        visibility: visible;
      }

      li.slick-active {
        transition: 0.5s filter ease-out;
      }

      li:not(.slick-active) {
        filter: grayscale(100%);
        transition: 0.5s filter ease-out;
      }
    }

    // slide pagination underline colors
    li {
      overflow: hidden;

      // March Underline
      &:nth-of-type(1) {
        img {
          transform: scale(12) !important;
          transform-origin: 17% 94.6%;
        }

        &::before {
          background-color: $march-blue;
        }
      }

      // Ute Youth Underline
      &:nth-of-type(2) {
        img {
          transform: scale(3.75) !important;
          transform-origin: 8.8% 23%;
        }

        &::before {
          background-color: $ute-white;
        }
      }

      // Sigma Nu Underline
      &:nth-of-type(3) {
        img {
          transform: scale(7.4) !important;
          transform-origin: 4% 47.8%;
        }

        &::before {
          background-color: $snake-green;
        }
      }

      // Young Dems Underline
      &:nth-of-type(4) {
        img {
          transform: scale(4) !important;
          transform-origin: 69.3% 42.4%;
        }

        &::before {
          background-color: $bernie-gold;
        }
      }

      // Ducks Underline
      &:nth-of-type(5) {
        img {
          transform: scale(4) !important;
          transform-origin: 28% 100%;
        }

        &::before {
          background-color: $unlimited-black;
        }
      }
      // MTV Underline
      &:nth-of-type(6) {
        img {
          transform: scale(3) !important;
          transform-origin: 2% 7%;
        }

        &::before {
          background-color: $mtv-red;
        }
      }

      // Kehoe/Upton Underline
      &:nth-of-type(7) {
        img {
          transform: scale(10) !important;
          transform-origin: 5% 10%;
        }

        &::before {
          background-color: $kehoe-cyan;
        }
      }
    }
  }
}

/*
.slick-track .slick-slide {
  &.march {
    background: linear-gradient(
      335deg,
      rgba(0, 69, 138, 0.1) 10%,
      white 100%
    ) !important;
  }

  &.ute {
    background: linear-gradient(
      335deg,
      rgba(233, 45, 39, 0.1) 20%,
      white 100%
    ) !important;
  }

  &.snake {
    background: linear-gradient(
      335deg,
      rgba(110, 197, 172, 0.1) 30%,
      white 100%
    ) !important;
  }

  &.bernie {
    background: linear-gradient(
      335deg,
      rgba(23, 31, 68, 0.1) 40%,
      white 100%
    ) !important;
  }

  &.unlimited {
    background: linear-gradient(
      335deg,
      rgba(0, 0, 0, 0.1) 50%,
      white 100%
    ) !important;
  }

  &.mtv {
    background: linear-gradient(
      335deg,
      rgba(252, 176, 24, 0.1) 60%,
      white 100%
    ) !important;
    background: linear-gradient(
      -90deg,
      rgba(255, 255, 255, 1) 80%,
      rgba(255, 255, 255, 0) 0%
    ),
      linear-gradient(
      335deg,
      rgba(252, 176, 24, 0.5) 50%,
      white 100%
    ) !important;
  }

  &.kehoe {
    background: linear-gradient(
      -90deg,
      rgba(255, 255, 255, 1) 80%,
      rgba(255, 255, 255, 0) 0%
    ),
      linear-gradient(
      335deg,
      rgba(109, 206, 234, 0.5) 50%,
      white 100%
    ) !important;
  }}*/
