@import url(~slick-carousel/slick/slick.css);
@import url(~slick-carousel/slick/slick-theme.css);
.carousel {
  background-color: white;
  padding: 20px 0px 90px 0px; }
  @media (min-width: 600px) {
    .carousel {
      padding-bottom: 100px; } }
  @media (min-width: 1200px) {
    .carousel {
      padding-bottom: 130px; } }

.carousel .innerSliderDiv {
  margin-left: auto;
  margin-right: auto;
  max-height: 300px;
  max-width: 300px; }
  @media (min-width: 900px) {
    .carousel .innerSliderDiv {
      max-height: 500px;
      max-width: 500px; } }

.carousel .innerSliderDiv img {
  max-height: 300px;
  max-width: 300px; }
  @media (min-width: 900px) {
    .carousel .innerSliderDiv img {
      max-height: 500px;
      max-width: 500px; } }

.carousel .slick-slide.slick-center img {
  margin-left: auto;
  margin-right: auto; }

.carousel .slick-track {
  align-items: center;
  display: flex; }

.carousel .slick-active {
  transition: .25s opacity ease-in,  .5s filter ease-out !important; }

.carousel .slick-slide:not(.slick-active) {
  filter: grayscale(100%);
  transition: .25s opacity ease-in,  .5s filter ease-out !important; }

.slick-arrow {
  height: 100px !important;
  width: 50px !important;
  z-index: 5; }

.slick-next:before {
  color: black !important;
  right: 20px !important; }

.slick-next {
  color: black !important;
  right: 20px !important; }

.slick-prev:before {
  color: black !important;
  left: 20px !important; }

.slick-prev {
  color: black !important;
  left: 20px !important; }

.slick-dots.slick-thumb {
  align-items: stretch;
  bottom: inherit;
  display: flex !important;
  flex-direction: row;
  width: 100%; }

.slick-dots li {
  align-items: center;
  background-color: #FAFAFA;
  box-shadow: 0.5px 1px 4px 0 rgba(0, 0, 0, 0.1);
  display: flex;
  height: auto !important;
  margin: 0 0 !important;
  margin-right: 10px !important;
  padding: 5px 5px;
  width: 100% !important; }
  .slick-dots li img {
    align-self: center;
    height: auto;
    vertical-align: middle;
    width: 100%; }

.slick-dots li::before {
  background-color: #2D4269;
  bottom: 0;
  content: "";
  height: 3px;
  left: 0;
  position: absolute;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  transform-origin: right;
  -webkit-transition: all .25s linear 0s;
  transition: all .25s linear 0s;
  visibility: hidden;
  width: 100%; }

.slick-dots li.slick-active::before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  transform-origin: left;
  -webkit-transition: all .25s linear 0s;
  transition: all .25s linear 0s;
  visibility: visible; }

li.slick-active {
  transition: .5s filter ease-out; }

.slick-dots li:not(.slick-active) {
  filter: grayscale(50%);
  transition: .5s filter ease-out; }

.slick-dots li:nth-of-type(1)::before {
  background-color: #00458A; }

.slick-dots li:nth-of-type(2)::before {
  background-color: #E0E0E2; }

.slick-dots li:nth-of-type(3)::before {
  background-color: #6EC5AC; }

.slick-dots li:nth-of-type(4)::before {
  background-color: #171F44; }

.slick-dots li:nth-of-type(5)::before {
  background-color: #000000; }

.slick-dots li:nth-of-type(6)::before {
  background-color: #FCB018; }

.slick-dots li:nth-of-type(7)::before {
  background-color: #6DCEEA; }
