@import 'variables.scss';

.certs {
  h3 {
    margin-bottom: 0.25em;
    position: relative;
  }
}

.certs .deck {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
  justify-content: center;
}

.certs .deck .card {
  padding: 20px;
  background-color: $truewhite;
  box-shadow: $card-shadow;
}

.certs .card img {
  width: 150px;
  height: auto;
  opacity: 0.825;
  filter: saturate(0%);
  transition: 0.25s filter linear,
    0.25s opacity linear;
  display: block;
  margin: auto;
}

.certs .card .deck-icons p {
  opacity: 0.825;
  filter: saturate(0%) brightness(0%);
  transition: 0.5s filter linear,
    0.5s opacity linear;
}

.certs .card:hover p {
  opacity: 1;
  filter: saturate(80%) brightness(100%)
    contrast(100%);
}

.certs .card:hover img {
  opacity: 1;
  filter: saturate(80%) contrast(100%)
    opacity(100%);
}

/* for-tablet-landscape-up */
@include for-tablet-landscape-up {
  .certs .deck {
    grid-template-columns: 1fr 1fr;
  }
}

/* scroll hover */
@include for-mobile-only {
  .certs .card.visible p {
    opacity: 1;
    filter: saturate(80%) brightness(100%)
      contrast(100%);
  }

  .certs .card.visible img {
    opacity: 1;
    filter: saturate(80%) contrast(100%)
      opacity(100%);
  }
}
