@import 'variables.scss';

.contact h2 {
  @include for-tablet-landscape-up {
    opacity: 1;
  }
}

.contact .deck {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* for-tablet-landscape-up */
@media (min-width: 900px) {
  .contact .deck {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.contact input {
  border: none;
  border-radius: 0;
  margin: 5px 0;
  margin-bottom: 10px;
  padding: 10px;
  transition: 0.5s ease all;
  width: 100%;
  width: calc(100% - 20px);
}

.contact textarea {
  border: none;
  border-radius: 0;
  height: 150px;
  margin: 5px 0;
  padding: 10px;
  transition: 0.5s ease all;
  width: calc(100% - 20px);
}

.contact .social-icons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 50px;
}

.contact .social-icons i {
  //font-size: 40px;
  margin-right: 15px;
}

.contact .social-icons a {
  text-decoration: none;
}

.contact button {
  color: $notblack;
  border: none;
  border-radius: 0;
  cursor: pointer;
  margin: 5px 0;
  outline: none;
  padding: 10px;
  text-align: center;
  transition: all 0.15s;
  width: calc(100% - 20px);
  width: 100%;

  @include for-tablet-landscape-up {
    opacity: 1;
  }
}

.contact button:hover {
  opacity: 1;
}

.contact button:active {
  background: #2d4269;
  box-shadow: 0 3px 0 #2d4269;
  -webkit-transform: translateY(3px);
  transform: translateY(3px);
}

.contact button:focus {
}

.contact form * {
  background: #fff;
  box-shadow: $card-shadow;
  opacity: 0.7;

  &:active,
  &:focus,
  &:hover {
    opacity: 1;
  }
}
