@mixin for-mobile-only {
  @media (max-width: 599px) { @content; }
}
@mixin for-tablet-portrait-up {
  @media (min-width: 600px) { @content; }
}
@mixin for-tablet-landscape-up {
  @media (min-width: 900px) { @content; }
}
@mixin for-desktop-up {
  @media (min-width: 1200px) { @content; }
}
@mixin for-big-desktop-up {
  @media (min-width: 1800px) { @content; }
}

.contact {
  background-color: #fafafa;
  padding: 40px 20px 20px 20px;

  @include for-tablet-landscape-up {
    background: none;
    float: left;
    opacity: .9;
    position: relative;
    z-index: 1;
  }
}

.contact h1 {
  @include for-tablet-landscape-up {
    opacity: 1;
  }
}

.contact .deck {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* for-tablet-landscape-up */
@media (min-width: 900px) {
  .contact .deck {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.contact input {
  background: #FFFFFF;
  border: none;
  border-radius: 0px;
  color: #2F2F2F;
  margin: 5px 0px;
  margin-bottom: 10px;
  padding: 10px;
  transition: .5s ease all;
  width: 100%;
  width: calc(100% - 20px);
}

.contact textarea {
  background: #FFFFFF;
  border: none;
  border-radius: 0px;
  color: #2F2F2F;
  height: 150px;
  margin: 5px 0px;
  padding: 10px;
  transition: .5s ease all;
  width: calc(100% - 20px);
}

.contact .social-icons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 50px;
}

.contact .social-icons i {
  //font-size: 40px;
  margin-right: 15px;
}

.contact .social-icons a {
	text-decoration: none;
}

.contact button {
  border: none;
  border-radius: 0px;
  color: #2F2F2F;
  cursor: pointer;
  font-weight: bold;
  margin: 5px 0px;
  outline: none;
  padding: 10px;
  text-align: center;
  transition: all .15s;
  width: calc(100% - 20px);
  width: 100%;
  @include for-tablet-landscape-up {
    opacity: 1;
  }
}

.contact button {
  background: #FFFFFF;
  box-shadow: 0 3px 0 #FFFFFF;
}

.contact button:hover {
  opacity: 1;
}

.contact button:active {
  background: #2D4269;
  box-shadow: 0 3px 0 #2D4269;
  -webkit-transform: translateY(3px);
  transform: translateY(3px);
}

.contact button:focus {

}

