@mixin for-mobile-only {
  @media (max-width: 599px) { @content; }
}
@mixin for-tablet-portrait-up {
  @media (min-width: 600px) { @content; }
}
@mixin for-tablet-landscape-up {
  @media (min-width: 900px) { @content; }
}
@mixin for-desktop-up {
  @media (min-width: 1200px) { @content; }
}
@mixin for-big-desktop-up {
  @media (min-width: 1800px) { @content; }
}

.footer {
  background-color: #FAFAFA;
  @include for-tablet-landscape-up {
    position: relative;
    padding-top: 200px;
  }
}

.nImage {
  text-align: center;
  width: 100%;
  height: 50vw;
  max-height: 500px;
  background-image:
      url(../images/parallax/5.png),
      url(../images/parallax/6.png),
      url(../images/parallax/4.png),
      url(../images/parallax/3.png),
      url(../images/parallax/2.png),
      url(../images/parallax/1.png);
  background-repeat: no-repeat,
      no-repeat, no-repeat, no-repeat, no-repeat,
      no-repeat;
  background-position: top,
  top, top, top, top,
  top;
  background-size: 100%, /*100%, 100%, 100%, 100%, 100%*/;

  transition-duration: .5s;
  opacity: .85;
  filter: grayscale(100%) brightness(0%);

  @include for-tablet-landscape-up { // 900+
    padding-top: 100px;
    background-position: center 0vw, center 0vw, center 0vw, center 0vw, center 0vw, center 0vw;
  }
  @include for-desktop-up { //1200+
    padding-top: 100px;
    background-position: center -4vw, center -5vw, center -7vw, center -6vw, center -4vw, center -2.2vw;
  }
  @include for-big-desktop-up { //1800+
    padding-top: 100px;
    background-position: center -15vw, center -14vw, center -11vw, center -8vw, center -6vw, center -2.2vw;
  }
}

.footer p {
  color: #FAFAFA;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  bottom: 0;
}

.nImage:hover {
  transition: .5s opacity linear, .5s filter linear;
  opacity: 1;
  filter: grayscale(0);
}

.nImage.visible {
  transition: .5s opacity linear, .5s filter linear;
  opacity: 1;
  filter: grayscale(0);
}

