@import url("https://s3-us-west-1.amazonaws.com/public-webfonts/fonts/fonts-akrobat.css");
@import url("https://s3-us-west-1.amazonaws.com/public-webfonts/fonts/fonts-proxima-nova.css");
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,800,900");
.app section.home .heading {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: space-around; }

.home .content::before {
  background-image: url("../images/photovoltaic-panels-texture.jpg");
  content: '';
  display: block;
  -webkit-filter: grayscale(0.3) brightness(0.45) contrast(1.05);
  filter: grayscale(0.3) brightness(0.45) contrast(1.05);
  height: 100vh;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100vw;
  z-index: -1; }

.content {
  height: 100%; }

.home .content h1 {
  font-weight: 700;
  text-shadow: 0.01em 0.01em 0.05em black;
  line-height: 0.9em; }

.home .content h2 {
  font-family: 'Proxima Nova', sans-serif;
  font-size: 2em;
  text-shadow: 0.01em 0.01em 0.05em black; }

.home .content .social-icons {
  justify-content: flex-end;
  max-height: 59px;
  margin-top: auto;
  display: flex; }
  .home .content .social-icons:before {
    position: absolute;
    content: '';
    height: 1px;
    left: 0;
    top: -100;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.4); }
  .home .content .social-icons p {
    opacity: 0;
    text-align: center;
    transition: 0.25s all linear; }
  .home .content .social-icons a {
    line-height: 48px;
    text-align: center;
    transition: 0.25s all linear;
    color: inherit;
    font-size: 48px;
    text-decoration: none;
    margin: 6px 0 0 6px; }
  .home .content .social-icons a:hover p {
    opacity: 1; }
  .home .content .social-icons div.vertical-line {
    align-self: center;
    background-color: rgba(255, 255, 255, 0.4);
    display: block;
    height: 100%;
    margin-left: 0.7em;
    width: 1px; }
  .home .content .social-icons a .fa-layers.fa-fw {
    width: 1em; }
    .home .content .social-icons a .fa-layers.fa-fw .outline {
      opacity: 0;
      transition: 0.25s all linear; }
    .home .content .social-icons a .fa-layers.fa-fw .solid {
      opacity: 1;
      transition: 0.25s all linear; }
  .home .content .social-icons a .fa-layers:hover .outline {
    opacity: 1; }
  .home .content .social-icons a .fa-layers:hover .solid {
    opacity: 0; }
  .home .content .social-icons .emailLayers {
    padding: 0 0.15em; }
