.home {
 height: 550px;
 //width: 100%;
 padding: 60px 0px;
}

.home .content {
  margin-top: 110px;
  margin-right: 20px;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  height: 300px;
  color: #fdfdfd;
}

.home .content:before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
  display: block;
  background-image: url(../images/photovoltaic-panels-texture.jpg);
  width: 100vw;
  height: 670px;
  -webkit-filter: grayscale(.1) brightness(0.45) contrast(1.05);
  filter: grayscale(.1) brightness(0.45) contrast(1.05);
  box-shadow: inset 0px 0px 60px #2f2f2f;
}

.home .content .name h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 4rem;
  line-height: 1em;
  font-weight: 700;
  margin: 0;
  text-shadow: 0px 0px 2px #2f2f2f;
  margin-left: -3px;
  color: #fdfdfd;
}

.home .content h2 {
  font-family: 'Akrobat-Regular', sans-serif;
  font-size: 2rem;
  line-height: 1em;
  margin: 20px 0px 20px 0px;
  letter-spacing: 1.5px;
  text-shadow: 0px 0px 2px #2f2f2f;
  color: #fdfdfd;
}

.home .content p {
  opacity: 0;
  text-shadow: none;
  text-align: center;
  color: black;
  margin: 0;
  font-size: .7rem;
  background-color: #fdfdfd;
  border-radius: 10px;
  transition:.25s opacity linear;
  font-family: 'Raleway', sans-serif;

}

.home .content .social-icons a:hover p {
  opacity: 1;
}

.home .content .social-icons {
  display: flex;
  flex-wrap: wrap;
  align: center;
  margin: 110px 0px 0px 0px;
}

.home .content .social-icons a {
  font-size: 2.5rem;
  text-shadow: 0px 0px 2px #2f2f2f;
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

a:visited {
  color: inherit;
}

div.vertical-line {
  height: 45px;
  width: 1px;
  background-color: white;
  height: 100%;
  display: inline-block;
  margin-right: .5rem;
  margin-left: .5rem;
}

a.emailLayers span {
  .emaillayersOutline {
    opacity: 1;
    transition:.25s opacity linear;
  }
  .emailLayersSolid {
    opacity: 0;
    transition: .25s opacity linear;
  }
}

a.emailLayers:hover span {
  .emailLayersOutline {
    opacity: 0;
    transition:.25s opacity linear;
  }
  .emailLayersSolid {
    opacity: 1;
    transition:.25s opacity linear;
  }
}

a.resumeLayers span {
  .resumeLayersOutline {
    opacity: 1;
    transition:.25s opacity linear;
  }
  .resumeLayersSolid {
    opacity: 0;
    transition: .25s opacity linear;
  }
}

a.resumeLayers:hover span {
  .resumeLayersOutline {
    opacity: 0;
  }
  .resumeLayersSolid {
    opacity: 1;
  }
}

a .fa-layers  {
  .outline {
    opacity: 1;
    transition: .25s opacity linear;
  }
  .solid {
    opacity: 0;
    transition: .25s opacity linear;
  }
}


a .fa-layers:hover  {
  .outline {
    opacity: 0;
  }
  .solid {
    opacity: 1;
  }
}

.fa-layers .fa {
  width:100px;
  height: 100px;
}