@import 'variables.scss';

.app section.home .heading {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: space-around;
}

// The semi-parallax background image
.home .content::before {
  background-image: url('../images/photovoltaic-panels-texture.jpg');
  //box-shadow: inset 0 0 60px $notblack;
  content: '';
  display: block;
  -webkit-filter: grayscale(0.3) brightness(0.45) contrast(1.05);
  filter: grayscale(0.3) brightness(0.45) contrast(1.05);
  height: 100vh;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100vw;
  z-index: -1;
}

.content {
  height: 100%;
}
// Title, "Emerson Havener"
.home .content h1 {
  font-weight: 700;
  //line-height: 1em;
  //margin: 0;
  //margin-left: -3px;
  text-shadow: $heading-shadow;
  line-height: 0.9em;
}

// Sub Title, "Prospective Web Developer"
.home .content h2 {
  //font: 'proxima_nova_ltsemibold', sans-serif;
  font-family: 'Proxima Nova', sans-serif; // caps
  font-size: 2em;
  //letter-spacing: 1.5px;
  //line-height: 1em;
  //margin: 20px 0;
  text-shadow: $heading-shadow;
}

.home .content .social-icons {
  &:before {
    position: absolute;
    content: '';
    height: 1px;
    left: 0;
    top: -100;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.4);
  }

  justify-content: flex-end;
  //width: 100vw;
  max-height: 59px;
  //border: 1px solid rgba(255, 255, 255, 0.4);
  margin-top: auto;
  //align-items: center;
  display: flex;
  //flex-wrap: nowrap;
  //margin: 110px 0 0;

  // icon caption
  p {
    //color: $notwhite;
    //font-family: 'Raleway', sans-serif;
    //font-size: 0.7rem;
    //margin: 0;
    opacity: 0;
    text-align: center;
    transition: $all25linear;
    //text-shadow: none;
    //transition: 0.25s opacity linear;
  }

  // links wrap around icons and captions
  a {
    line-height: 48px;
    text-align: center;
    transition: $all25linear;
    color: inherit;
    font-size: 48px;
    text-decoration: none;
    //text-shadow: 0 0 2px $notblack;
    margin: 6px 0 0 6px;
  }

  // captions appear when icons are hovered
  a:hover p {
    opacity: 1;
  }

  // vertical seperator
  div.vertical-line {
    align-self: center;
    background-color: rgba(255, 255, 255, 0.4);
    display: block;
    height: 100%;
    margin-left: 0.7em;
    //margin-right: 0.7em;
    //margin-bottom: 1.2em;
    width: 1px;
  }

  a .fa-layers.fa-fw {
    width: 1em;

    .outline {
      opacity: 0;
      transition: $all25linear;
      //filter: drop-shadow($heading-shadow);
    }

    .solid {
      opacity: 1;
      transition: $all25linear;
    }
  }

  a .fa-layers:hover {
    .outline {
      opacity: 1;
    }

    .solid {
      opacity: 0;
    }
  }

  .emailLayers {
    padding: 0 0.15em;
  }
}
