.home {
  height: 550px;
  padding: 60px 0px; }

.home .content {
  color: #fdfdfd;
  display: flex;
  flex-direction: column;
  height: 300px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 110px; }

.home .content:before {
  background-image: url(../images/photovoltaic-panels-texture.jpg);
  box-shadow: inset 0px 0px 60px #2f2f2f;
  content: "";
  display: block;
  -webkit-filter: grayscale(0.1) brightness(0.45) contrast(1.05);
  filter: grayscale(0.1) brightness(0.45) contrast(1.05);
  height: 670px;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100vw;
  z-index: -1; }

.home .content .name h1 {
  color: #fdfdfd;
  font-family: 'Raleway', sans-serif;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1em;
  margin: 0;
  margin-left: -3px;
  text-shadow: 0px 0px 2px #2f2f2f; }

.home .content h2 {
  color: #fdfdfd;
  font-family: 'Akrobat-Regular', sans-serif;
  font-size: 2rem;
  letter-spacing: 1.5px;
  line-height: 1em;
  margin: 20px 0px 20px 0px;
  text-shadow: 0px 0px 2px #2f2f2f; }

.home .content p {
  color: white;
  font-family: 'Raleway', sans-serif;
  font-size: .7rem;
  margin: 0;
  opacity: 0;
  text-align: center;
  text-shadow: none;
  transition: .25s opacity linear; }

.home .content a.resumeLayers p {
  opacity: 1; }

.home .content a.resumeLayers {
  text-align: center; }

.home .content .social-icons a:hover p {
  border-radius: 10px;
  opacity: 1; }

.home .content .social-icons {
  align-items: baseline;
  display: flex;
  flex-wrap: nowrap;
  margin: 110px 0px 0px 0px; }

.home .content .social-icons a {
  color: inherit;
  font-size: 2.5rem;
  text-decoration: none;
  text-shadow: 0px 0px 2px #2f2f2f; }

a:hover {
  text-decoration: none; }

a:visited {
  color: inherit; }

div.vertical-line {
  align-self: center;
  background-color: white;
  display: block;
  height: 150%;
  margin-left: 1rem;
  margin-right: 1rem;
  width: 1px; }

a .fa-layers .outline {
  opacity: 0;
  transition: .25s opacity linear; }

a .fa-layers .solid {
  opacity: 1;
  transition: .25s opacity linear; }

a .fa-layers:hover .outline {
  opacity: 1; }

a .fa-layers:hover .solid {
  opacity: 0; }

.fa-layers .fa {
  height: 100px;
  width: 100px; }

.emailLayers {
  padding: 0px 5px; }
