@import url("https://s3-us-west-1.amazonaws.com/public-webfonts/fonts/fonts-proxima-nova.css");
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,800,900");
/*
  A responsive, mobile first, navbar with two color themes,
  light & dark.
  default theme? hmm
*/
/* header - themed light by default */
.header * {
  transition: all 0.2s ease-out; }

.header {
  background-color: #fafafa;
  border-bottom: 1px solid #fafafa;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  width: 100%;
  height: 59px;
  z-index: 3;
  transition: all 0.2s ease-out; }

.header ul {
  background: none;
  list-style: none;
  overflow: hidden;
  margin: 0;
  padding: 0; }

.header li a {
  border-right: 1px solid #fafafa;
  color: #2f2f2f;
  display: block;
  padding: 20px 20px;
  position: relative;
  text-decoration: none;
  transition: all 0s linear; }

.header li a:hover,
.header .menu-btn:hover {
  background-color: #fafafa;
  color: #2f2f2f; }

.header li a:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  bottom: 0;
  left: 0;
  background-color: #2d4269;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s; }

.header li a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1); }

.header .logo {
  width: 48px;
  height: 48px;
  display: block;
  float: left;
  line-height: 0;
  padding: 0;
  margin: 6px 0px 0px 6px;
  text-decoration: none;
  background-image: url("../images/eh_imperfect_333333.png");
  background-size: 48px 48px; }

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height 0.2s ease-out; }

.header .menu-icon {
  cursor: pointer;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none; }

.header .menu-icon .navicon {
  background: #2f2f2f;
  display: block;
  height: 2px;
  position: relative;
  transition: background 0.2s ease-out;
  width: 18px; }

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #2f2f2f;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%; }

.header .menu-icon .navicon:before {
  top: 5px; }

.header .menu-icon .navicon:after {
  top: -5px; }

.header .menu-btn {
  display: none; }

.header .menu-btn:checked ~ .menu {
  max-height: 500px; }

.header .menu-btn:checked ~ .menu li {
  background: #fafafa; }

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent; }

.header
.menu-btn:checked
~ .menu-icon
.navicon:before {
  transform: rotate(-45deg); }

.header
.menu-btn:checked
~ .menu-icon
.navicon:after {
  transform: rotate(45deg); }

.header
.menu-btn:checked
~ .menu-icon:not(.steps)
.navicon:before,
.header
.menu-btn:checked
~ .menu-icon:not(.steps)
.navicon:after {
  top: 0; }

/*
  desktop specific changes (768px or greater)
*/
@media (min-width: 48em) {
  .header li {
    float: left; }
  .header li a {
    padding: 20px 30px; }
  .header .menu {
    clear: none;
    float: right;
    max-height: 60px; }
  .header .menu-icon {
    display: none; }
  .header.dark * {
    background-color: transparent !important; }
  .header.dark {
    background-color: transparent !important;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4); }
  .header.dark ul {
    background: none; }
  .header.dark li a {
    color: #fafafa;
    border-right: 1px solid rgba(255, 255, 255, 0);
    transition: all 0s linear; }
  .header.dark li a:hover,
  .header.dark .menu-btn:hover {
    background-color: #303350; }
  .header.dark .menu-icon .navicon {
    background: #fafafa; }
  .header.dark .menu-icon .navicon:before,
  .header.dark .menu-icon .navicon:after {
    background: #fafafa; }
  .header.dark .logo {
    background-image: url(../images/eh_imperfect_EEEEEE.png); }
  .header.dark li > a:hover {
    color: #fafafa; }
  .header.dark li > a:before {
    background-color: #fafafa; } }

.header li > a.active::before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1); }
