@import url("https://s3-us-west-1.amazonaws.com/public-webfonts/fonts/fonts-proxima-nova.css");
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,800,900");
.portfolio .title {
  color: #2f2f2f;
  display: inline-block;
  position: relative; }

.portfolio .deck {
  align-content: stretch;
  align-items: stretch;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  height: auto;
  justify-content: flex-start; }
  @media (min-width: 600px) {
    .portfolio .deck {
      flex-wrap: wrap;
      max-height: calc(19rem + 100vw); } }
  @media (min-width: 1200px) {
    .portfolio .deck {
      max-height: calc(-47rem + 100vw); } }
  @media (min-width: 1500px) {
    .portfolio .deck {
      max-height: calc(-64rem + 100vw); } }

.portfolio .card {
  background-color: #fafafa;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.05), 0 6px 6px rgba(0, 0, 0, 0.05);
  height: auto;
  position: relative;
  margin-bottom: 1rem;
  max-height: 750px;
  max-width: 523px; }
  .portfolio .card:last-child {
    margin-bottom: 0; }
  @media (min-width: 600px) {
    .portfolio .card {
      width: calc(50vw - 4.5rem); }
      .portfolio .card:nth-of-type(1) {
        margin: 0 1rem 1rem 0; } }
  @media (min-width: 900px) {
    .portfolio .card {
      width: calc(50vw - 8rem); }
      .portfolio .card:nth-of-type(3) {
        margin: 0 1rem 1rem 0; } }
  @media (min-width: 1200px) {
    .portfolio .card {
      width: calc(33vw - 5.5em); }
      .portfolio .card:nth-of-type(3) {
        margin: 0 1em 1em 0; } }
  @media (min-width: 1500px) {
    .portfolio .card {
      width: calc(33vw - 8.5em); }
      .portfolio .card:nth-of-type(3) {
        margin: 0 1em 1em 0; } }

.portfolio .card .bg {
  border: 1px solid #ccc;
  width: 100%;
  max-height: 750px;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.05), 0 6px 6px rgba(0, 0, 0, 0.05);
  opacity: 0; }

/* card themes */
.portfolio .card.black {
  background-color: #222; }

.portfolio .card.black i,
.portfolio .card.black .overlay .links p:hover {
  color: #222; }

.portfolio .card.grey {
  background-color: #535c68; }

.portfolio .card.grey i,
.portfolio .card.grey .overlay .links p:hover {
  color: #535c68; }

.portfolio .card.turquoise {
  background-color: #177390; }

.portfolio .card.turquoise i,
.portfolio
.card.turquoise
.overlay
.links
p:hover {
  color: #177390; }

.portfolio .card.purple {
  background-color: #945e99; }

.portfolio .card.purple i,
.portfolio .card.purple .overlay .links p:hover {
  color: #945e99; }

.portfolio .card.red {
  background-color: #6f0000; }

.portfolio .card.red i,
.portfolio .card.red .overlay .links p:hover {
  color: #6f0000; }

.portfolio .card.green {
  background-color: #16a085; }

.portfolio .card.green i,
.portfolio .card.green .overlay .links p:hover {
  color: #16a085; }

.portfolio .card.blue {
  background-color: #34495e; }

.portfolio .card.blue i,
.portfolio .card.blue .overlay .links p:hover {
  color: #34495e; }

.portfolio .deck .card .overlay {
  align-items: stretch;
  bottom: 0;
  color: #fafafa;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  left: 0;
  padding: 1.5rem;
  position: absolute;
  right: 0;
  top: 0;
  transition: opacity 0.3s, visibility 0.3s;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.05), 0 6px 6px rgba(0, 0, 0, 0.05);
  opacity: 1; }

.portfolio .deck .card .overlay h2 {
  color: #fafafa;
  position: relative;
  margin-bottom: .25em; }

.portfolio .deck .card .overlay p {
  color: #fafafa; }

.portfolio .deck .card .overlay .techList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0;
  padding: 0; }

.portfolio
.deck
.card
.overlay
.techList
.object-wrap {
  background: #fafafa;
  border-radius: 0%;
  border-width: 10px;
  height: 30px;
  padding: 0.3em;
  position: relative;
  width: 30px;
  margin-right: 0.4em;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.05), 0 6px 6px rgba(0, 0, 0, 0.05); }

.portfolio
.card
.overlay
.techList
.object-wrap
object {
  filter: saturate(0%) brightness(0%);
  height: 100%;
  margin: 0;
  opacity: 0.825;
  position: relative;
  transition: 0.25s filter linear, 0.25s opacity linear;
  width: 100%; }

/* overlay */
.portfolio .card * {
  transition: all 0.35s ease-in-out; }

.portfolio .deck .card:hover .bg {
  opacity: 1; }

.portfolio .deck .card .overlay:hover {
  opacity: 0; }

.portfolio
.deck
.card
.overlay:hover
.techList
.object-wrap
object {
  filter: saturate(80%) brightness(100%) contrast(100%) opacity(100%);
  opacity: 1; }

/* mobile hover via scroll */
.portfolio .card * {
  transition: all 0.35s ease-in-out; }

@media (max-width: 599px) {
  .portfolio .deck .card.visible .bg {
    filter: grayscale(90%) blur(1.5px);
    opacity: 1; } }

@media (max-width: 599px) {
  .portfolio .deck .card.visible .overlay {
    opacity: 0; } }

@media (max-width: 599px) {
  .portfolio
.deck
.card.visible
.overlay
.techList
.object-wrap
object {
    filter: saturate(80%) brightness(100%) contrast(100%) opacity(100%);
    opacity: 1; } }
