@import 'variables.scss';

.portfolio .title {
  color: $notblack;
  display: inline-block;
  position: relative;
  //font-weight: 900;
}

.portfolio .deck {
  align-content: stretch;
  align-items: stretch;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  height: auto;
  justify-content: flex-start;

  @include for-tablet-portrait-up {
    flex-wrap: wrap;
    max-height: calc(19rem + 100vw);
  }

  @include for-tablet-landscape-up {
    //max-height: calc(50rem + 100vw);
  }

  @include for-desktop-up {
    max-height: calc(-47rem + 100vw);
  }

  @include for-big-desktop-up {
    max-height: calc(-64rem + 100vw);
  }
}

.portfolio .card {
  background-color: $notwhite;
  box-shadow: $card-shadow;
  height: auto;
  position: relative;
  margin-bottom: 1rem;
  //max-height: 750px;
  //max-width: 523px;

  @include for-tablet-portrait-up {
    &:nth-of-type(1) {
      margin: 0 1rem 1rem 0;
    }

    width: calc(50vw - 4.5rem);
  }

  @include for-tablet-landscape-up {
    &:nth-of-type(3) {
      margin: 0 1rem 1rem 0;
    }

    width: calc(50vw - 8rem);
  }

  @include for-desktop-up {
    &:nth-of-type(3) {
      margin: 0 1em 1em 0;
    }

    width: calc(33vw - 5.5em);
  }

  @include for-big-desktop-up {
    &:nth-of-type(3) {
      margin: 0 1em 1em 0;
    }

    width: calc(33vw - 8.5em);
  }
}

.portfolio .card .bg {
  //border: 1px solid #ccc;
  width: 100%;
  height: auto;
  //max-height: 750px;
  box-shadow: $card-shadow;
  opacity: 0;
}

/* card themes */
.portfolio .card.black {
  background-color: $fadeawayblack;
}

.portfolio .card.black i,
.portfolio .card.black .overlay .links p:hover {
  color: $fadeawayblack;
}

.portfolio .card.grey {
  background-color: $hardcountgrey;
}

.portfolio .card.grey i,
.portfolio .card.grey .overlay .links p:hover {
  color: $hardcountgrey;
}

.portfolio .card.turquoise {
  background-color: $i2cturquoise;
}

.portfolio .card.turquoise i,
.portfolio
.card.turquoise
.overlay
.links
p:hover {
  color: $i2cturquoise;
}

.portfolio .card.purple {
  background-color: $handelpurple;
}

.portfolio .card.purple i,
.portfolio .card.purple .overlay .links p:hover {
  color: $handelpurple;
}

.portfolio .card.red {
  background-color: $dontdrivered;
}

.portfolio .card.red i,
.portfolio .card.red .overlay .links p:hover {
  color: $dontdrivered;
}

.portfolio .card.green {
  background-color: $untitledgreen;
}

.portfolio .card.green i,
.portfolio .card.green .overlay .links p:hover {
  color: $untitledgreen;
}

.portfolio .card.blue {
  background-color: $happyhourblue;
}

.portfolio .card.blue i,
.portfolio .card.blue .overlay .links p:hover {
  color: $happyhourblue;
}

.portfolio .deck .card .overlay {
  align-items: stretch;
  bottom: 0;
  color: $notwhite;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  left: 0;
  padding: 1.5rem;
  position: absolute;
  right: 0;
  top: 0;
  transition: opacity 0.3s, visibility 0.3s;
  box-shadow: $card-shadow;
  opacity: 1;
}

.portfolio .deck .card .overlay h2 {
  color: $notwhite;
  position: relative;
  margin-bottom: 0.25em;
}

.portfolio .deck .card .overlay p {
  color: $notwhite;
}

.portfolio .deck .card .overlay .techList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
}

.portfolio
.deck
.card
.overlay
.techList
.object-wrap {
  background: $notwhite;
  border-radius: 0%;
  border-width: 10px;
  height: 30px;
  padding: 0.3em;
  position: relative;
  width: 30px;
  margin-right: 0.4em;
  box-shadow: $card-shadow;
}

.portfolio
.card
.overlay
.techList
.object-wrap
object {
  filter: saturate(0%) brightness(0%);
  height: 100%;
  margin: 0;
  opacity: 0.825;
  position: relative;
  transition: 0.25s filter linear,
    0.25s opacity linear;
  width: 100%;
}

/* overlay */
.portfolio .card * {
  transition: all 0.35s ease-in-out;
}

.portfolio .deck .card:hover .bg {
  // filter: grayscale(90%) blur(1.5px);
  opacity: 1;
}

.portfolio .deck .card .overlay:hover {
  // opacity: 1;
  opacity: 0;
}

.portfolio
.deck
.card
.overlay:hover
.techList
.object-wrap
object {
  filter: saturate(80%) brightness(100%)
    contrast(100%) opacity(100%);
  opacity: 1;
}

/* mobile hover via scroll */
.portfolio .card * {
  transition: all 0.35s ease-in-out;
}

.portfolio .deck .card .overlay:hover {
  @include for-mobile-only {
    //filter: grayscale(90%) blur(1.5px);
    opacity: 1;
  }
}

.portfolio .deck .card .overlay {
  @include for-mobile-only {
    //pointer-events: none;
    opacity: 1;
  }
}

.portfolio
.deck
.card.visible
.overlay
.techList
.object-wrap
object {
  @include for-mobile-only {
    filter: saturate(80%) brightness(100%)
      contrast(100%) opacity(100%);
    opacity: 1;
  }
}

@include for-mobile-only {
  .portfolio .overlay {
    //transform: translateY(160px);
    //margin-bottom: 10px;
    h2,
    p {
      //color: $notblack !important;
    }
  }

  .portfolio .card {
    padding-bottom: 150px;
  }

  .portfolio .card .bg {
    box-shadow: none;
    opacity: 1;
  }
}
