@import 'variables.scss';

// The grid of different skill categories
.skills .deck {
  // Grid templating
  .card {
    background-color: $truewhite;
    box-shadow: $card-shadow;
    padding: 1.5rem 1.5rem 0 1.5rem;

    // A wrapper around all of a skill category's captions & icons (everything besides h3)
    .deck-icons {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
    }

    // A wrapper around a skill caption & its icon
    .card-icons {
      padding: 0 0.2rem 1.2rem;
      position: relative;
      text-align: center;
    }

    // A skill category's heading, e.g. "Front End"
    h3 {
      white-space: nowrap;
    }

    // A skill icon (.svg)
    object {
      filter: $desaturateDarken;
      height: 5rem;
      opacity: 0.825;
      transition: $all25linear;
      width: 5rem;
    }

    // A caption. Captions are revealed on mouseover on desktop
    p {
      filter: $desaturateDarken;
      font-family: 'Raleway', sans-serif;
      font-size: 1.2rem;
      opacity: 0.825;
      transition: $all25linear;

      @include for-tablet-landscape-up {
        bottom: 0;
        cursor: default;
        float: left;
        font-weight: 600;
        height: 5rem;
        left: 0;
        margin: auto;
        opacity: 0;
        position: absolute;
        right: 0;
        top: 35%;
        width: 100%;
      }
    }

    &.front-end {
      grid-area: one;
    }

    &.design {
      grid-area: two;
    }

    &.back-end {
      grid-area: three;
    }

    &.tooling {
      grid-area: four;
    }

    &.systems {
      grid-area: five;
    }

    // On mobile, skills will highight when visible in viewport
    &.visible {
      object,
      p {
        filter: $resaturateBrighten;
        opacity: 1;
      }
    }

    // On desktop, skills will highight when hovered
    @include for-tablet-landscape-up {
      .card-icons,
      .card-icons.visible {
        object {
          filter: $desaturateDarken;
          opacity: 0.825;
        }

        p {
          opacity: 0;
          filter: $resaturateBrighten;
        }

        &:hover {
          object {
            filter: $resaturateBrighten;
            opacity: 0.1;
          }

          p {
            filter: $resaturateBrighten;
            opacity: 1;
          }
        }
      }
    }
  }

  display: grid;
  grid-gap: 1rem;
  grid-template-areas:
    'one one'
    'two three'
    'four five';
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;

  @include for-tablet-portrait-up {
    grid-template-areas:
      'one one'
      'two three'
      'four five';
    grid-template-columns: 1fr 1fr;
  }

  @include for-tablet-landscape-up {
    grid-template-areas:
      'one one'
      'two three'
      'four five';
    grid-template-columns: 1fr 1fr;
  }

  @include for-desktop-up {
    grid-template-areas:
      'one one one one'
      'two three four five';
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

// icon colors
.html.caption {
  color: $html;
}

.css.caption {
  color: $css;
}

.javascript.caption {
  color: $javascript;
}

.bootstrap.caption {
  color: $bootstrap;
}

.sass.caption {
  color: $sass;
}

.jquery.caption {
  color: $jquery;
}

.react.caption {
  color: $react;
}

.redux.caption {
  color: $redux;
}

.photoshop.caption {
  color: $photoshop;
}

.illustrator.caption {
  color: $illustrator;
}

.xd.caption {
  color: $xd;
}

.laravel.caption {
  color: $laravel;
}

.wordpress.caption {
  color: $wordpress;
}

.mysql.caption {
  color: $mysql;
}

.webpack.caption {
  color: $webpack;
}

.git.caption {
  color: $git;
}

.docker.caption {
  color: $docker;
}

.arduino.caption {
  color: $arduino;
}

.c.caption {
  color: $c;
}

.cpp.caption {
  color: $cpp;
}

.gulp.caption {
  color: $gulp;
}

.jasmine.caption {
  color: $jasmine;
}
