@import url("https://s3-us-west-1.amazonaws.com/public-webfonts/fonts/fonts-proxima-nova.css");
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,800,900");
.skills .deck {
  display: grid;
  grid-gap: 1rem;
  grid-template-areas: 'one one' 'two three' 'four five';
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto; }
  .skills .deck .card {
    background-color: #fff;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.05), 0 6px 6px rgba(0, 0, 0, 0.05);
    padding: 1.5rem 1.5rem 0 1.5rem; }
    .skills .deck .card .deck-icons {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly; }
    .skills .deck .card .card-icons {
      padding: 0 0.2rem 1.2rem;
      position: relative;
      text-align: center; }
    .skills .deck .card h3 {
      white-space: nowrap; }
    .skills .deck .card object {
      filter: saturate(0%) brightness(0%);
      height: 5rem;
      opacity: 0.825;
      transition: 0.25s all linear;
      width: 5rem; }
    .skills .deck .card p {
      filter: saturate(0%) brightness(0%);
      font-family: 'Raleway', sans-serif;
      font-size: 1.2rem;
      opacity: 0.825;
      transition: 0.25s all linear; }
      @media (min-width: 900px) {
        .skills .deck .card p {
          bottom: 0;
          cursor: default;
          float: left;
          font-weight: 600;
          height: 5rem;
          left: 0;
          margin: auto;
          opacity: 0;
          position: absolute;
          right: 0;
          top: 35%;
          width: 100%; } }
    .skills .deck .card.front-end {
      grid-area: one; }
    .skills .deck .card.design {
      grid-area: two; }
    .skills .deck .card.back-end {
      grid-area: three; }
    .skills .deck .card.tooling {
      grid-area: four; }
    .skills .deck .card.systems {
      grid-area: five; }
    .skills .deck .card.visible object,
    .skills .deck .card.visible p {
      filter: saturate(80%) brightness(100%) contrast(100%);
      opacity: 1; }
    @media (min-width: 900px) {
      .skills .deck .card .card-icons object,
      .skills .deck .card .card-icons.visible object {
        filter: saturate(0%) brightness(0%);
        opacity: 0.825; }
      .skills .deck .card .card-icons p,
      .skills .deck .card .card-icons.visible p {
        opacity: 0;
        filter: saturate(80%) brightness(100%) contrast(100%); }
      .skills .deck .card .card-icons:hover object,
      .skills .deck .card .card-icons.visible:hover object {
        filter: saturate(80%) brightness(100%) contrast(100%);
        opacity: 0.1; }
      .skills .deck .card .card-icons:hover p,
      .skills .deck .card .card-icons.visible:hover p {
        filter: saturate(80%) brightness(100%) contrast(100%);
        opacity: 1; } }
  @media (min-width: 600px) {
    .skills .deck {
      grid-template-areas: 'one one' 'two three' 'four five';
      grid-template-columns: 1fr 1fr; } }
  @media (min-width: 900px) {
    .skills .deck {
      grid-template-areas: 'one one' 'two three' 'four five';
      grid-template-columns: 1fr 1fr; } }
  @media (min-width: 1200px) {
    .skills .deck {
      grid-template-areas: 'one one one one' 'two three four five';
      grid-template-columns: 1fr 1fr 1fr 1fr; } }

.html.caption {
  color: #e34f26; }

.css.caption {
  color: #0a71b9; }

.javascript.caption {
  color: #f7df1e; }

.bootstrap.caption {
  color: #563d7c; }

.sass.caption {
  color: #cf649a; }

.jquery.caption {
  color: #0868ac; }

.react.caption {
  color: #61dafb; }

.redux.caption {
  color: #764abc; }

.photoshop.caption {
  color: #87bcf6; }

.illustrator.caption {
  color: #ff7c00; }

.xd.caption {
  color: #ff2bc2; }

.laravel.caption {
  color: #d9574e; }

.wordpress.caption {
  color: #2f7290; }

.mysql.caption {
  color: #116381; }

.webpack.caption {
  color: #2c75af; }

.git.caption {
  color: #de4c36; }

.docker.caption {
  color: #3cb2db; }

.arduino.caption {
  color: #03599c; }

.c.caption {
  color: #5c8dbc; }

.cpp.caption {
  color: #06979c; }

.gulp.caption {
  color: #da4648; }

.jasmine.caption {
  color: #8a4182; }
