.front-end {
  grid-area: one; }

.design {
  grid-area: two; }

.back-end {
  grid-area: three; }

.tooling {
  grid-area: four; }

.systems {
  grid-area: five; }

.skills {
  background-color: #fafafa;
  padding: 40px 20px 60px 20px; }

.skills .deck {
  display: grid;
  /*grid-template-rows: 400px 250px 250px;*/
  grid-gap: 10px;
  grid-template-areas: "one one" "two three" "four five";
  grid-template-columns: 1fr 1fr; }
  @media (min-width: 600px) {
    .skills .deck {
      grid-template-areas: "one one" "two three" "four five";
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto; } }
  @media (min-width: 900px) {
    .skills .deck {
      grid-template-areas: "one one" "two three" "four five";
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto; } }
  @media (min-width: 1200px) {
    .skills .deck {
      grid-template-areas: "one one one one" "two three four five";
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: auto; } }

.skills h2 {
  white-space: nowrap; }

.skills .card {
  background-color: #fff;
  box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.1);
  padding: 20px; }

.skills .card object {
  cursor: default;
  filter: saturate(0%) brightness(0%);
  height: 50px;
  opacity: 0.825;
  transition: .25s filter linear, .25s opacity linear;
  width: 50px; }

.skills .card .deck-icons p {
  cursor: default;
  filter: saturate(0%) brightness(0%);
  float: left;
  font-family: 'Raleway', sans-serif;
  font-size: .7rem;
  font-weight: bold;
  height: 50px;
  margin-top: -80%;
  opacity: 0;
  position: absolute;
  transition: .5s all ease-out .0s;
  width: 50px;
  z-index: 0; }

.skills .card-icons:hover p {
  filter: saturate(80%) brightness(100%) contrast(100%);
  opacity: 1; }

.skills .card-icons:hover object {
  filter: saturate(80%) brightness(100%) contrast(100%) opacity(100%);
  opacity: .1;
  transition: filter .4s ease-out, opacity .4s ease-out .0s; }

/* scroll hover */
@media (max-width: 599px) {
  .skills .card.visible p {
    filter: saturate(80%) brightness(100%) contrast(100%) opacity(100%);
    opacity: 1; }
  .skills .card.visible object {
    filter: saturate(80%) brightness(100%) contrast(100%) opacity(100%);
    opacity: 1; } }

/*
h1:after {
  background: none repeat scroll 0 0 #2D4269;
  bottom: -5px;
  content: "";
  display: block;
  height: 0px;
  position: relative;
  width: 100px;
}
*/
.deck-icons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly; }

.card-icons {
  margin-bottom: 12px;
  position: relative;
  text-align: center; }

/* icon colors */
#html-caption {
  color: #E34F26; }

#css-caption {
  color: #0A71B9; }

#javascript-caption {
  color: #F7DF1E; }

#bootstrap-caption {
  color: #563D7C;
  margin-left: -10px; }

#sass-caption {
  color: #CF649A; }

#jquery-caption {
  color: #0868AC; }

#react-caption {
  color: #61DAFB; }

#redux-caption {
  color: #764ABC; }

#photoshop-caption {
  color: #87BCF6;
  margin-left: -12px; }

#illustrator-caption {
  color: #FF7C00;
  margin-left: -12px; }

#xd-caption {
  color: #FF2BC2; }

#laravel-caption {
  color: #1C78C0; }

#wordpress-caption {
  color: #1C78C0;
  margin-left: -14px; }

#mysql-caption {
  color: #1C78C0; }

#webpack-caption {
  color: #1C78C0; }

#git-caption {
  color: #DE4C36; }

#docker-caption {
  color: #24B8EB; }

#arduino-caption {
  color: #03599C;
  margin-left: -3px; }

#c-caption {
  color: #5C8DBC; }

#cpp-caption {
  color: #06979C; }

#gulp-caption {
  color: #DA4648; }

#jasmine-caption {
  color: #8A4182; }

#laravel-caption {
  color: #D9574E; }

#wordpress-caption {
  color: #2F7290; }

#webpack-caption {
  color: #2C75AF;
  margin-left: -10px; }

#docker-caption {
  color: #3CB2DB; }

#mysql-caption {
  color: #116381; }
