@mixin for-mobile-only {
  @media (max-width: 599px) { @content; }
}
@mixin for-tablet-portrait-up {
  @media (min-width: 600px) { @content; }
}
@mixin for-tablet-landscape-up {
  @media (min-width: 900px) { @content; }
}
@mixin for-desktop-up {
  @media (min-width: 1200px) { @content; }
}
@mixin for-big-desktop-up {
  @media (min-width: 1800px) { @content; }
}

.front-end {
  grid-area: one;
}
.design {
  grid-area: two;
}
.back-end {
  grid-area: three;
}
.tooling {
  grid-area: four;
}
.systems {
  grid-area: five;
}

.skills {
  background-color: #fafafa;
  padding: 40px 20px 60px 20px;
}

.skills .deck {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /*grid-template-rows: 400px 250px 250px;*/
  grid-gap: 10px;
  //justify-content: center;
  grid-template-areas:
      "one one"
      "two three"
      "four five";
  @include for-tablet-portrait-up {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "one one"
      "two three"
      "four five";
  }
  @include for-tablet-landscape-up {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "one one"
      "two three"
      "four five";
  }
  @include for-desktop-up {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "one one one one"
      "two three four five";
  }
}

.skills h2 {
  white-space: nowrap;
}

.skills .card {
  padding: 20px;
  background-color: #fff;
}

.skills .card object {
  width: 50px;
  height: 50px;
  opacity: 0.825;
  filter: saturate(0%) brightness(0%);
  transition: .25s filter linear, .25s opacity linear;
}

.skills .card .deck-icons p {
  font-family: 'Raleway', sans-serif;
  opacity: 0.825;
  filter: saturate(0%) brightness(0%);
  transition: .5s filter linear, .5s opacity linear;
}

.skills .card:hover p {
  opacity: 1;
  filter: saturate(80%) brightness(100%) contrast(100%);
}

.skills .card:hover object {
  opacity: 1;
  filter: saturate(80%) brightness(100%) contrast(100%) opacity(100%);
}

/* scroll hover */
.skills .card.visible p {
  opacity: 1;
  filter: saturate(80%) brightness(100%) contrast(100%) opacity(100%);
}

.skills .card.visible object {
  opacity: 1;
  filter: saturate(80%) brightness(100%) contrast(100%) opacity(100%);
}


/*
h1:after {
  background: none repeat scroll 0 0 #2D4269;
  bottom: -5px;
  content: "";
  display: block;
  height: 0px;
  position: relative;
  width: 100px;
}
*/

.deck-icons {
 display: flex;
 flex-direction: row;
 justify-content: space-evenly;
 flex-wrap: wrap;
}

.card-icons {
  margin-bottom: 12px;
  text-align: center;
}

.card-icons p {
  margin: 0;
  font-size: .7rem;
}



/* icon colors */
#html-caption {  color: #E34F26;}
#css-caption {  color: #0A71B9;}
#javascript-caption {  color: #F7DF1E;}
#bootstrap-caption {  color: #563D7C;}
#sass-caption {  color: #CF649A;}
#jquery-caption {  color: #0868AC;}
#react-caption {  color: #61DAFB;}
#redux-caption {  color: #764ABC;}

#photoshop-caption {  color: #87BCF6;}
#illustrator-caption {  color: #FF7C00;}
#xd-caption {  color: #FF2BC2;}


#laravel-caption {  color: #1C78C0;}
#wordpress-caption {  color: #1C78C0;}
#mysql-caption {  color: #1C78C0;}

#webpack-caption { color: #1C78C0; }
#git-caption {  color: #DE4C36;}
#docker-caption { color: #24B8EB; }

#arduino-caption {  color: #03599C;}
#c-caption {  color: #5C8DBC;}
#cpp-caption {  color: #06979C;}

#gulp-caption {  color: #DA4648;}
#jasmine-caption {  color: #8A4182;}

#laravel-caption {  color: #D9574E;}
#wordpress-caption {  color: #2F7290;}
#webpack-caption {  color: #2C75AF;}
#docker-caption {  color: #3CB2DB;}
#mysql-caption {  color: #116381;}