@import url('https://s3-us-west-1.amazonaws.com/public-webfonts/fonts/fonts-proxima-nova.css');
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,800,900');

// responsive breakpoints
@mixin for-mobile-only {
  @media (max-width: 599px) {
    @content;
  }
}

@mixin for-tablet-portrait-up {
  @media (min-width: 600px) {
    @content;
  }
}

@mixin for-tablet-landscape-up {
  @media (min-width: 900px) {
    @content;
  }
}

@mixin for-desktop-up {
  @media (min-width: 1200px) {
    @content;
  }
}

@mixin for-big-desktop-up {
  @media (min-width: 1500px) {
    @content;
  }
}

// box shadows
$card-shadow: 0 3px 3px rgba(0, 0, 0, 0.05),
  0 6px 6px rgba(0, 0, 0, 0.05);
$heading-shadow: 0em 0em 0.05em #2f2f2f;

// transitions
$all25linear: 0.25s all linear;
$opacity-25-easein-filter-50-easeout: 0.25s
  opacity ease-in,
  0.5s filter ease-out !important;

//filters
$desaturateDarken: saturate(0%) brightness(0%);
$resaturateBrighten: saturate(80%)
  brightness(100%) contrast(100%);

// gradients
$transparentBottomRight: linear-gradient(
  339deg,
  rgba(255, 255, 255, 0.95) 20%,
  rgba(255, 255, 255, 0.99) 45%
);
$transparentBottomLeft: linear-gradient(
  384deg,
  rgba(255, 255, 255, 0.95) 20%,
  rgba(255, 255, 255, 0.99) 45%
);

// main palette
$notwhite: #fafafa;
$truewhite: #fff;
$notblack: #2f2f2f;
$blueaccent: #2d4269;

// portfolio colors
$dontdrivered: #6f0000;
$happyhourblue: #34495e;
$fadeawayblack: #222;
$untitledgreen: #16a085;
$handelpurple: #945e99;
$i2cturquoise: #177390;
$hardcountgrey: #535c68;

// skill colors
$html: #e34f26;
$css: #0a71b9;
$javascript: #f7df1e;
$bootstrap: #563d7c;
$sass: #cf649a;
$jquery: #0868ac;
$react: #61dafb;
$redux: #764abc;
$photoshop: #87bcf6;
$illustrator: #ff7c00;
$xd: #ff2bc2;
$laravel: #1c78c0;
$wordpress: #1c78c0;
$mysql: #1c78c0;
$webpack: #1c78c0;
$git: #de4c36;
$docker: #24b8eb;
$arduino: #03599c;
$c: #5c8dbc;
$cpp: #06979c;
$gulp: #da4648;
$jasmine: #8a4182;
$laravel: #d9574e;
$wordpress: #2f7290;
$webpack: #2c75af;
$docker: #3cb2db;
$mysql: #116381;

// carousel colors
$march-blue: #00458a;
$ute-white: #fff;
$snake-green: #6ec5ac;
$bernie-gold: #D29E4A;
$unlimited-black: #000;
$mtv-red: #BE2226;
$kehoe-cyan: #6dceea;
