@import "../node_modules/slick-carousel/slick/slick.css";
@import "../node_modules/slick-carousel/slick/slick-theme.css";

.slick-slide.slick-center img {
  margin-left: auto;
  margin-right: auto;
}

.carousel {
  background-color: white;
  padding: 40px 0px 60px 0px;
}

.carousel h1 {
  padding-left: 20px;
}

.carousel p {
  padding-left: 20px;
}

/* make clipped designs greyscale, add drop shadow */