@import "../node_modules/slick-carousel/slick/slick.css";
@import "../node_modules/slick-carousel/slick/slick-theme.css";

.slick-slide.slick-center img {
  margin-left: auto;
  margin-right: auto;
}

.carousel {
  background-color: white;
  padding: 20px 0px 60px 0px;
}

.carousel h1 {
  padding-left: 20px;
}

.carousel p {
  padding-left: 20px;
}

button.slick-arrow.slick-next:before {
  display: none;
  color: black;
}

.slick-next:before {
  color: black !important;
  right: 20px !important;
}

.slick-next {
  color: black !important;
  right: 20px !important;
}

.slick-prev:before {
  color: black !important;
  left: 20px !important;
}

.slick-prev {
  color: black !important;
  left: 20px !important;
}


/* make clipped designs greyscale, add drop shadow */