.contact {
  background-color: #fafafa;
  padding: 40px 20px 20px 20px;
}

.contact .deck {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contact .card {

}

/* for-tablet-landscape-up */
@media (min-width: 900px) {
  .contact .deck {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.contact input {
  width: 100%;
  margin: 5px 0px;
}

.contact textarea {
  margin: 5px 0px;
  height: 150px;
  width: 100%;
}

.contact button {
  margin: 5px 0px;
}

.contact .social-icons {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.contact .social-icons i {
  font-size: 40px;
  margin-right: 15px;
}

.contact .social-icons a {
	text-decoration: none;
}