.footer {
  padding-top: 100px;
  background-color: #FAFAFA;
}

.multi-bg-example {
  text-align: center;
  width: 100%;
  height: 50vw;
  background-image:
      url(./images/parallax/6.png),
      url(./images/parallax/5.png),
      url(./images/parallax/4.png),
      url(./images/parallax/3.png),
      url(./images/parallax/2.png),
      url(./images/parallax/1.png);
  background-repeat: no-repeat,
      no-repeat, no-repeat, no-repeat, no-repeat,
      no-repeat;
  background-position: top,
  top, top, top, top,
  top;
  background-size: 100%, 100%, 100%, 100%, 100%, 100%;

  transition-duration: .5s;
  filter: grayscale(100%) brightness(0%);
}

.footer p {
  color: #FAFAFA;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  bottom: 0;
}

.multi-bg-example:hover {
  transition-duration: .5s;
  filter: grayscale(0);
}



/*

* {
  box-sizing: border-box;
}

.footer body{
  background-color: #FEDCC8;
}

.parallax {
  perspective: 100px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  position: absolute;
  top: 0;
  left: 50%;
  right: 0;
  bottom: 0;
  margin-left: -1500px;
}

.parallax__layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.parallax__layer img {
  display: block;
  position: absolute;
  bottom: 0;
}

.parallax__cover {
  background: #2D112B;
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  height: 1000px;
  z-index: 2;
}

.parallax__layer__0 {
  transform: translateZ(-300px) scale(4);
}
.parallax__layer__1 {
  transform: translateZ(-250px) scale(3.5);
}
.parallax__layer__2 {
  transform: translateZ(-200px) scale(3);
}
.parallax__layer__3 {
  transform: translateZ(-150px) scale(2.5);
}
.parallax__layer__4 {
  transform: translateZ(-100px) scale(2);
}
.parallax__layer__5 {
  transform: translateZ(-50px) scale(1.5);
}
.parallax__layer__6 {
  transform: translateZ(0px) scale(1);
}
*/
/*
$parallax__layers: 6;

@for $i from 0 through $parallax__layers {
  $x: ($parallax__layers - $i) / 2;
  .parallax__layer__#{$i}{
     transform: translateZ(-100 * $x#{px}) scale($x + 1);
  }
}
*/

