
.home {
 height: 550px;
 width: 100vw;
 padding: 59px 0px 60px 0px;
}

.home .content {
  margin-top: 110px;
  margin-right: 20px;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  height: 300px;
  color: #fdfdfd;
}

.home .content:before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
  display: block;
  background-image: url(./photovoltaic-panels-texture.jpg);
  width: 100vw;
  height: 608.4px;
  -webkit-filter: grayscale(.1) brightness(0.45) contrast(1.05);
  filter: grayscale(.1) brightness(0.45) contrast(1.05);
  box-shadow: inset 0px 0px 60px #2f2f2f;
}

.home .content .name h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 62px;
  line-height: 1em;
  font-weight: 700;
  margin: 0;
  text-shadow: 0px 0px 2px #2f2f2f;
  margin-left: -3px;
  color: #fdfdfd;
}

.home .content h2 {
  font-family: 'Akrobat-Regular', sans-serif;
  font-size: 24px;
  line-height: 1em;
  margin: 20px 0px 20px 0px;
  letter-spacing: 1.5px;
  text-shadow: 0px 0px 2px #2f2f2f;
  color: #fdfdfd;
}

.home .content .social-icons {
  margin: 170px 0 0px 0;
}

.home .content .social-icons i {
  font-size: 56px;
  margin-right: 15px;
  text-shadow: 0px 0px 2px #2f2f2f;
}

.home .content .social-icons a {
	text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:visited {
  color: inherit;
}