/*
  A responsive, mobile first, navbar with two color themes,
  light & dark.
*/

/* header */
.header {
  background-color: #fff;
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
  top: 0;
  position: fixed;
  width: 100%;
  z-index: 3;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #fff;
}

.header li a {
  display: block;
  padding: 20px 20px;
  border-right: 1px solid #f4f4f4;
  text-decoration: none;
}

.header li a:hover,
.header .menu-btn:hover {
  background-color: #f4f4f4;
}

.header .logo {
  display: block;
  float: left;
  line-height: 0;
  padding: 0;
  margin: 6px 0px 0px 6px;
  text-decoration: none;
}

.logo img {
  width: 48px;
  height: 48px;
  padding: 0;
  margin: 0px 0px 0px 0px;
}

/* menu */
.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

/* menu icon for hamburger menu */
.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* hamburger menu button for mobile */
.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 500px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* Screen width media query.
   48em = 768px
   so when screen width exceeds 767px , display these
*/
@media (min-width: 48em) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }

  .header.dark * {
    background-color: rgba(0,0,0,0) !important;
    transition: all .2s ease-out;
  }

  .header.dark {
    background-color: rgba(0,0,0,0) !important;
    border-bottom: 1px solid rgba(255,255,255,.4);
    transition: all .2s ease-out;
  }

  .header.dark ul {
    background: none;
  }

  .header.dark li a {
    color: #fff;
    border-right: 1px solid rgba(255,255,255,.0);
    transition: all .0s linear;
  }

  .header.dark li a:hover,
  .header.dark .menu-btn:hover {
    background-color: #303350;
  }

  .header.dark .menu-icon .navicon {
    background: #EEE;
  }

  .header.dark .menu-icon .navicon:before,
  .header.dark .menu-icon .navicon:after {
    background: #EEE;
  }

}

/* animated underline when an item is hovered */
/* light theme underline */
.header li > a {
  position: relative;
  color: #333;
  text-decoration: none;
}

.header li > a:hover {
  color: #333;
}

.header li > a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  bottom: 0;
  left: 0;
  background-color: #2D4269;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.header li > a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
/* dark theme underline */
.header.dark li > a:hover {
  color: #fff;
}
.header.dark li > a:before {
  background-color: #fff;
}



/* light header theme */
.header.light * {
  transition: all .2s ease-out;
}

.header.light {
  background-color: #fff;
  transition: all .2s ease-out;
}

.header.light ul {
  background: none;
}

.header.light li a {
  transition: all .0s linear;
  border-right: 1px solid #f4f4f4;
}

.header.light {
 border-bottom: 1px solid #f4f4f4;
}
