.skills {
  background-color: #fafafa;
  padding: 40px 20px 60px 20px;
}

.skills .deck {
  display: grid;
  grid-template-columns: calc(100vw-40px);
  grid-template-rows: 350px 250px 250px;
  grid-gap: 10px;
  justify-content: center;
}

.skills .card {
  padding: 20px;
  background-color: #fff;
}

.skills .card:hover {
  background-color: #2D4269;
  color: #fff;
}

/* for-tablet-landscape-up */
@media (min-width: 900px) {
  .skills .deck {
    grid-template-columns: 250px 250px 250px;
    grid-template-rows: 350px 350px 350px;
  }
}

.skills object {
  width: 25vw;
  filter: saturate(0%) brightness(0%);

}

.skills .card:hover > div object {
  width: 25vw;
  filter: saturate(100%) brightness(100%) contrast(100%);
}